<v-card class="local-package-content">
  <nav-bar :actionMenus="navBarMenus"></nav-bar>
  <v-progress-linear v-if="isAppLoading" color="blue" indeterminate></v-progress-linear>
  <div class="iterator-wrapper">
    <v-data-iterator class="flex" content-tag="v-layout" row wrap :items="localPkgItems" :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination" item-key="name">
      <div class="local-item" slot="item" slot-scope="props">
        <v-card>
          <v-card-title class="local-item-title">
            <h4>{{ props.item.name }}</h4>
            <v-spacer></v-spacer>
            <action-button buttonCls="local-item-btn-control" @onClick="e => onSelectPackage(props.item.name)" title="View package details"
              type="settings" color="white"></action-button>
          </v-card-title>
          <v-divider></v-divider>
          <v-list dense>
            <v-list-tile>
              <v-list-tile-content>Version:</v-list-tile-content>
              <v-list-tile-content class="align-end">{{ props.item.version }}</v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>License:</v-list-tile-content>
              <v-list-tile-content class="align-end">{{ props.item.license }}</v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>Author:</v-list-tile-content>
              <v-list-tile-content class="align-end">{{ props.item.author }}</v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>Dependencies:</v-list-tile-content>
              <v-list-tile-content class="align-end">{{ props.item.numDeps }}</v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>Scripts:</v-list-tile-content>
              <v-list-tile-content class="align-end">{{ props.item.numScripts }}</v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-card>
      </div>
      <template slot="no-data">
        <v-alert :value="true" color="error" icon="warning">
          Sorry, nothing to display here :(
        </v-alert>
      </template>
    </v-data-iterator>
    <selected-item-panel v-if="pkgDetailPanelVisible"></selected-item-panel>
  </div>
  <detail-dialog></detail-dialog>
</v-card>