.dialog {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 90%;

  .card.container-card {
    height: 100% !important;
    display: flex;
    flex-direction: column;

    .card-content {
      overflow: auto;
    }
  }

  .card.container-card.detail {
    .expansion-panel {
      .header__icon {
        .icon {
          -webkit-transform: none !important;
          transform: none !important;
        }
      }
    }
  }
}

.dialog.project-selection-dialog {
  height: 60% !important;
  .hint {
    padding: 0px;
  }

  .project-container {
    box-shadow: none;

    .icon {
      color: inherit !important;
    }

    .expansion-panel__header {
      padding: 0px;
    }

    .expansion-panel__body {
      padding-left: 10px;
    }
  }
}
