.app-navigation-drawer {
  .list__group__items {
    .list__tile {
      margin-left: 10px;
    }
  }

  .list__tile__action {
    min-width: 40px;
  }
}

.app-navigation-drawer:not(.navigation-drawer--mini-variant) {
  .list__group__header {
    .list__group__header__prepend-icon {
      padding-right: 0px !important;
      min-width: 40px !important;
    }
  }
  .no-sub-group {
    .list__group__header {
      .list__group__header__append-icon {
        display: none;
      }
    }
  }
}
