.pointer {
  cursor: pointer;
}

.no-margin {
  margin: 0px;
}

@for $i from 1 through 10 {
  .flex-#{$i} {
    flex: $i 1 0%;
  }
}

.flex-fixed-100 {
  flex: 0 0 100px;
}

.flex-fixed-150 {
  flex: 0 0 150px;
}

.flex-fixed-200 {
  flex: 0 0 200px;
}

.dflex-column {
  display: flex;
  flex-direction: column;
}
