.search-container {
  display: flex;
  margin-right: 20px;
  height: 50px;

  button {
    height: 30px;
    margin-bottom: 0px;
  }
}

.content-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.breadcrumb-item {
  a {
    color: white;
  }
}

.data-iterator .data-iterator__actions {
  justify-content: center !important;
}
