.table {
  tr {
    td.action {
      opacity: 0;
      display: flex;
      flex: 1;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
    }
  }

  tr:hover {
    td.action {
      opacity: 1;
    }
  }
}

.nt-table {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 100%;
  padding: 10px;

  .nt-table-header {
    display: flex;

    .nt-table-row {
      padding: 5px;
      display: flex;
      flex-direction: row;
      flex: 1;
      min-height: 40px;
      border-bottom: 1px solid #0277bd;

      .nt-table-head {
        display: flex;
        align-items: center;
        overflow: hidden;
        padding-left: 5px;

        span {
          font-weight: bold;
          font-size: 12px;
          color: #0288d1;
        }
      }

      .nt-table-head.extra {
        width: 17px;
      }
    }
  }

  .nt-table-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .nt-table-row {
      display: flex;
      flex-direction: row;
      flex: 0 0 40px;
      padding: 5px;

      .nt-table-data {
        display: flex;
        align-items: center;
        overflow: hidden;
        padding-left: 5px;

        span {
          font-style: normal;
          font-size: 12px;
          color: #000000;
        }
      }

      .nt-table-data.col-action {
        flex-wrap: nowrap;
        justify-content: center;
      }

      .nt-table-data.col-action.onHover,
      .nt-table-data.col-action.onSelected {
        opacity: 0;
      }
    }

    .nt-table-row:hover {
      background-color: $row_hover_color;
      .nt-table-data.col-action.onHover {
        opacity: 1;
      }
    }

    .nt-table-row.selected {
      background-color: $row_selected_color;
      .nt-table-data.col-action.onSelected {
        opacity: 1;
      }
    }

    .body-pivot {
      display: none;
    }
  }

  .pagination-container {
    display: flex;
    justify-content: center;
  }
}
