<div :class="tableClassName">
  <div class="nt-table-header">
    <div class="nt-table-row">
      <div v-for="headerCol in columns" :class="getHeaderClassName(headerCol)">
        <slot name="table-head" :column="headerCol"></slot>
      </div>
      <div v-if="extraHeadVisible" class="nt-table-head extra"></div>
    </div>
  </div>
  <v-progress-linear v-if="loading" color="blue" indeterminate></v-progress-linear>
  <div v-else-if="tableItems.length > 0" ref="table-body" class="nt-table-body">
    <div v-for="item in tableItems" :class="getBodyRowClassName(item)" :id="getBodyRowId(item)">
      <div v-for="col in columns" :class="getDataCellClassName(col, item)">
        <slot name="table-data" :column="col" :item="item" :value="item[col.columnName]"></slot>
      </div>
    </div>
    <div v-if="windowResizing" class="body-pivot"></div>
  </div>
  <div v-else>
    <v-alert :value="true" color="error" icon="warning">
      No records found
    </v-alert>
  </div>
  <div v-if="(!pagination || pagination.enabled) && items.length > pageSize" class="pagination-container">
    <v-pagination :total-visible="pageSize" :value="pageIndex" :length="totalPages" @input="onPageChange"></v-pagination>
  </div>
</div>