<v-card class="package-wrapper flex">
  <v-toolbar card dark color="teal" tabs>
    <v-btn icon dark @click.native="onUnSelectPackage">
      <v-icon>close</v-icon>
    </v-btn>
    <v-toolbar-title>Settings</v-toolbar-title>
    <v-spacer></v-spacer>
    <action-button @onClick="e => onRemovePackage()" type="delete" color="white" title="Remove this package folder"></action-button>
    <action-button @onClick="e => onRefresh()" type="refresh" color="white" title="Refresh this package"></action-button>
    <v-tabs v-model="tabModel" centered slot="extension" color="teal" dark slider-color="white">
      <v-tab key="tab-deps" ripple href="#tab-deps">
        Dependencies
      </v-tab>
      <v-tab key="tab-scripts" ripple href="#tab-scripts">
        Scripts
      </v-tab>
    </v-tabs>
  </v-toolbar>
  <v-tabs-items v-model="tabModel">
    <v-tab-item id="tab-deps" key="tab-deps">
      <v-layout row wrap>
        <v-progress-linear v-if="isAppLoading" slot="progress" color="blue" indeterminate></v-progress-linear>
        <v-card-title class="flex align-end" row wrap>
          <v-flex class="deps-filter-control">
            <v-select label="Select dependency type" :items="depFilterTypeItems" v-model="depSearchTypesModel" multiple hide-selected
              hide-details item-value="id" item-text="name"></v-select>
          </v-flex>
          <v-flex class="deps-filter-control checkbox-control">
            <v-checkbox label="Outdated" v-model="depFilterNeedUpdateModel" hide-details></v-checkbox>
          </v-flex>
          <v-flex class="deps-filter-control search-container">
            <v-text-field label="Search" append-icon="search" v-model="depSearchCriteriaModel" hide-details></v-text-field>
          </v-flex>
          <v-flex class="deps-filter-control search-autocomplete">
            <package-search label="Fast install" @onSelect="onInstallDep"></package-search>
          </v-flex>
        </v-card-title>
        <v-data-table class="deps-table" :headers="depsTableHeaders" :items="selectedPkgDeps" :rows-per-page-items="rowsPerPageItems"
          item-key="name" :pagination.sync="pagination">
          <template slot="items" slot-scope="props">
            <td v-for="header in depsTableHeaders" :class="{'action': header.value === 'action' }">
              <template v-if="header.value === 'action'">
                <action-button :disabled="isUpgradeBtnDisabled(props.item.name)" type="update" title="Upgrade this package" @onClick="e => onUpgradePackage(props.item.name)"></action-button>

                <v-progress-circular v-if="uninstallingDep === props.item.name" indeterminate :size="25" :width="2" color="blue"></v-progress-circular>
                <action-button v-else :disabled="uninstallingDep != ''" @onClick="e => onUninstallPackage(props.item.name, props.item.type)"
                  type="delete" title="Uninstall this package"></action-button>

                <action-button @onClick="e => onViewDetail(props.item.name)" type="details" title="View package details"></action-button>
              </template>
              <template v-else-if="header.value === 'package'">
                <span>{{props.item.name}}</span>
              </template>
              <template v-else>
                <span>{{props.item[header.value]}}</span>
              </template>
            </td>
          </template>
          <template slot="no-data">
            <v-alert :value="true" color="error" icon="warning">
              Sorry, this package has no dependencies
            </v-alert>
          </template>
        </v-data-table>
      </v-layout>
    </v-tab-item>
    <v-tab-item id="tab-scripts" key="tab-scripts">
      <v-layout row wrap>
        <v-progress-linear v-if="isAppLoading" slot="progress" color="blue" indeterminate></v-progress-linear>
        <v-card-title class="flex align-end" row wrap>
          <v-spacer></v-spacer>
          <v-flex class="deps-filter-control search-container" xs12 sm3>
            <v-text-field label="Search" append-icon="search" v-model="scriptSearchCriteriaModel" hide-details></v-text-field>
          </v-flex>
        </v-card-title>
        <v-data-table class="deps-table" :headers="scriptsTableHeaders" :items="selectedPkgScripts" :rows-per-page-items="rowsPerPageItems"
          item-key="name" :pagination.sync="pagination">
          <template slot="items" slot-scope="props">
            <td>{{ props.item.name }}</td>
            <td>{{ props.item.value }}</td>
            <td class="justify-center align-center layout px-0">
              <v-progress-circular v-if="props.item.name === executingScript" indeterminate :size="25" :width="2" color="blue"></v-progress-circular>
              <action-button v-else :disabled="executingScript !== ''" @onClick="(e) => onExecuteScript(props.item.name)" type="play_arrow"
                title="Execute this script"></action-button>

              <v-progress-circular v-if="props.item.name === removingScript" indeterminate :size="25" :width="2" color="blue"></v-progress-circular>
              <action-button v-else @onClick="(e) => onRemovingScript(props.item.name)" type="delete" title="Remove this script"></action-button>
            </td>
          </template>
          <template slot="no-data">
            <v-alert :value="true" color="error" icon="warning">
              Sorry, this package has no scripts
            </v-alert>
          </template>
        </v-data-table>
      </v-layout>
    </v-tab-item>
  </v-tabs-items>
</v-card>