<v-dialog :value="visible" persistent max-width="700px" transition="dialog-bottom-transition" :overlay="false">
    <v-card class="detail container-card" tile fluid>
        <v-toolbar card dark color="primary" tabs>
            <v-btn icon dark @click.native="onDialogClose">
                <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Package Info</v-toolbar-title>
            <v-spacer></v-spacer>

            <!-- <v-btn icon @click.native="onConfigurationRefresh">
                <v-icon dark>refresh</v-icon>
            </v-btn> -->
            <v-tabs v-model="tabModel" centered slot="extension" color="primary" dark slider-color="white">
                <v-tab key="tab-general" ripple href="#tab-general">
                    GENERAL
                </v-tab>
                <v-tab key="tab-readme" ripple href="#tab-readme">
                    README
                </v-tab>
            </v-tabs>
        </v-toolbar>
        <v-progress-linear v-if="loading" color="blue" indeterminate></v-progress-linear>
        <v-container class="card-content" fluid>
            <v-tabs-items v-model="tabModel">
                <v-tab-item id="tab-general" key="tab-general">
                    <v-layout row wrap>
                        <v-flex xs12 lg6>
                            <v-expansion-panel focusable popout>
                                <v-expansion-panel-content :value="item.alwaysVisible" :hide-actions="!item.value" v-for="item in evenPackageInfo" :key="item.key">
                                    <div slot="header">{{item.label}}</div>
                                    <div slot="actions">
                                        <v-icon :style="{color: item.iconColor}">{{item.icon}}</v-icon>
                                    </div>
                                    <v-card>
                                        <template v-if="item.type === 'array'">
                                            <chips :items="item.value"></chips>
                                        </template>
                                        <template v-else-if="item.type === 'string'">
                                            <v-card-text class="text-truncate">{{item.value}}</v-card-text>
                                        </template>
                                    </v-card>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-flex>
                        <v-flex xs12 lg6>
                            <v-expansion-panel focusables inset>
                                <v-expansion-panel-content :value="item.alwaysVisible" :hide-actions="!item.value" v-for="item in oddPackageInfo" :key="item.key">
                                    <div slot="header">{{item.label}}</div>
                                    <div slot="actions">
                                        <v-icon :style="{color: item.iconColor}">{{item.icon}}</v-icon>
                                    </div>
                                    <v-card>
                                        <template v-if="item.type === 'array'">
                                            <chips :items="item.value"></chips>
                                        </template>
                                        <template v-else-if="item.type === 'string'">
                                            <v-card-text>{{item.value}}</v-card-text>
                                        </template>
                                    </v-card>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-flex>
                    </v-layout>
                </v-tab-item>
                <v-tab-item id="tab-readme" key="tab-readme">
                    <v-layout row wrap>
                        <v-card v-html="readmeHtml"></v-card>
                    </v-layout>
                </v-tab-item>
            </v-tabs-items>
        </v-container>
    </v-card>
</v-dialog>