<v-card class="market-package-content content-item" fluid>
  <nav-bar :actionMenus="navBarMenus"></nav-bar>
  <v-card-title row wrap>
    <v-flex class="market-search-input search-container" xs12 sm3>
      <v-text-field label="Search query" placeholder="search any package here ..." append-icon="search" hide-details v-model="packageQuery"
        @keypress.enter="onSearchInputEnter"></v-text-field>
    </v-flex>

    <v-flex class="market-field-select search-container" x12 sm3>
      <v-select label="Field(s) to display" :items="searchedPackageFilter.availableDisplayFields" v-model="selectedDisplayFields"
        multiple hide-selected></v-select>
    </v-flex>
  </v-card-title>

  <v-data-table :loading="isLoading" :headers="tableHeaders" :items="searchedPackageResult.items" hide-actions>
    <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
    <template slot="items" slot-scope="props">
      <td v-for="header in tableHeaders" :class="{'action': header.value === 'action' }">
        <template v-if="header.value === 'action'">
          <action-button @onClick="(e) => viewPackageDetail(props.item.name)" type="details" title="View package detail"></action-button>

          <v-progress-circular v-if="props.item.installing" indeterminate :size="25" :width="2" color="blue"></v-progress-circular>
          <v-tooltip v-else bottom>
            <v-menu slot="activator" offset-y>
              <v-btn icon class="mx-0" slot="activator">
                <v-icon color="teal">file_download</v-icon>
              </v-btn>
              <v-list>
                <v-list-tile @click="installPackageFromMarket(props.item, true)">
                  <v-list-tile-title>As global package</v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="installPackageFromMarket(props.item, false)">
                  <v-list-tile-title>As local package</v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
            <span>Install this package</span>
          </v-tooltip>
          <action-button @onClick="e => goToPackagePage(props.item.name)" type="home" title="Go to homepage"></action-button>
        </template>
        <template v-else>
          <span>{{props.item[header.value]}}</span>
        </template>
      </td>
    </template>
    <template slot="no-data">
      <v-alert :value="true" color="error" icon="warning">
        Sorry, nothing to display here :(
      </v-alert>
    </template>
  </v-data-table>
  <div class="text-xs-center pt-2">
    <v-pagination :total-visible="searchedPackageResult.pageSize" :value="searchedPackageResult.pageIndex" :length="totalPages"
      @input="onPageChange"></v-pagination>
  </div>

  <detail-dialog></detail-dialog>
  <project-selection-dialog :packageName="selectedPackageName"></project-selection-dialog>
</v-card>