<v-tooltip bottom>
  <v-btn v-clickoutside="onBtnClickOutside" :disabled="disabled" slot="activator" icon :class="'mx-0 ' + buttonCls"
    @click.native="onBtnClick">
    <v-icon :color="buttonColor">{{type}}</v-icon>
  </v-btn>
  <span>{{buttonTitle}}</span>
</v-tooltip>