html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@import "~izitoast/dist/css/iziToast.css";
.app-container,
.app-container * {
  box-sizing: border-box !important;
}

.app-container {
  @import "~vuetify/dist/vuetify.min.css";
  @import "common/main.scss";
  @import "core/main.scss";
  @import "market-package.scss";
  @import "global-package.scss";
  @import "local-package.scss";

  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;

  .application {
    flex: 1;
    font-family: Arial, Helvetica, sans-serif !important;

    main.content {
      height: 100%;
      width: 100%;

      .content--wrap {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
