.local-package-content {
  height: 100% !important;
  width: 100%;
  display: flex;
  flex-direction: column;

  .iterator-wrapper {
    width: 100%;
    height: 100%;
    display: flex;

    .layout.row.wrap {
      justify-content: center;

      .local-item {
        margin-top: 10px;
        margin-right: 10px;
        width: 250px;

        .local-item-title {
          background-color: #009688;

          h4 {
            color: white;
          }

          .local-item-btn-control {
            width: 20px;
            height: 20px;
            margin-right: 0px;
          }
        }
      }
    }

    .package-wrapper {
      margin-top: 10px;
      max-width: 55%;

      .deps-filter-control {
        margin-right: 30px;
      }

      .deps-filter-control.search-container {
        flex: 1 100px;
      }

      .deps-filter-control.checkbox-control {
        height: 25px;
        flex: 0 100px;
      }

      .deps-filter-control.search-autocomplete {
        flex: 1 150px;
      }

      .deps-table {
        width: 100%;
        height: 100%;
      }
    }
  }
}
