<div :class="containerCls">
    <v-chip v-for="item in uniqItems" :key="item.name" :color="item.color" :text-color="item.textColor">
        <v-avatar v-if="item.icon">
            <v-icon>{{item.icon}}</v-icon>
        </v-avatar>
        {{item.name}}
    </v-chip>
</div>