<v-toolbar dark color="primary">
    <v-breadcrumbs>
        <v-icon slot="divider">chevron_right</v-icon>
        <v-breadcrumbs-item class="breadcrumb-item" v-for="item in routeItems" :key="item">
            {{ item }}
        </v-breadcrumbs-item>
    </v-breadcrumbs>
    <v-spacer></v-spacer>
    <action-button v-for="menu in actionMenus" :key="menu.name" :disabled="menu.disabled" @onClick="menu.onClick" :type="menu.icon"
        color="white" :title="menu.title"></action-button>
</v-toolbar>