<v-card class="global-package-content">
  <nav-bar :actionMenus="navBarMenus"></nav-bar>
  <v-card-title row wrap>
    <v-spacer></v-spacer>
    <v-flex class="search-container" xs12 sm3>
      <v-text-field label="Search anything" append-icon="search" v-model="searchCriteria"></v-text-field>
    </v-flex>
  </v-card-title>
  <nt-datatable :columns="tableColumns" :items="displayItems" item-key="name" :loading="tableLoading">
    <template slot="table-head" slot-scope="props">
      <span>{{props.column.headerName}}</span>
    </template>
    <template slot="table-data" slot-scope="props">
      <span v-if="props.column.columnName !== 'action'">{{props.value}}</span>
      <template v-else>
        <v-progress-circular v-if="props.item.upgrading" indeterminate :size="25" :width="2" color="blue"></v-progress-circular>
        <action-button v-else :disabled="!props.item.needUpdate" @onClick="(e) => onUpgradePackage(props.item.name)" type="update"
          :title="!props.item.needUpdate ? 'This package is latest' : 'Upgrade this package'"></action-button>

        <v-progress-circular v-if="props.item.uninstalling" indeterminate :size="25" :width="2" color="blue"></v-progress-circular>
        <action-button v-else @onClick="(e) => onUninstallPackage(props.item.name)" type="delete" title="Uninstall this package"></action-button>
        <action-button @onClick="(e) => onViewDetail(props.item.name)" type="details" title="View package details"></action-button>
      </template>
    </template>
  </nt-datatable>
  <!-- <v-data-table :loading="globalPackageData.loading" :rows-per-page-items="rowsPerPageItems" :search="searchCriteria" item-key="name"
    :headers="tableHeaders" :items="globalPackageData.items" :pagination.sync="pagination">
    <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
    <template slot="headers" slot-scope="props">
      <tr>
        <th v-for="header in props.headers" :key="header.text" :class="[header.sortable ? 'column sortable' : '', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '', 'text-xs-' + header.align]">
          {{ header.text }}
          <v-icon v-if="header.sortable" small @click="changeSort(header.value)">arrow_upward</v-icon>
        </th>
      </tr>
    </template>
    <template slot="items" slot-scope="props">
      <tr>
        <td v-for="header in tableHeaders" :class="{'action': header.value === 'action'}">
          <template v-if="header.value === 'action'">
           
          </template>
          <template v-else>
            {{getDataCellDisplayValue(props.item[header.value])}}
          </template>
        </td>
      </tr>
    </template>
    <template slot="no-data">
      <v-alert :value="true" color="error" icon="warning">
        Sorry, nothing to display here :(
      </v-alert>
    </template>
    <template slot="no-results">
      <v-alert :value="true" color="error" icon="warning">
        Your search for "{{ searchCriteria }}" found no results.
      </v-alert>
    </template>
  </v-data-table> -->
  <configuration-dialog></configuration-dialog>
  <detail-dialog></detail-dialog>
</v-card>