<v-dialog :value="prjSelectionDialogVisible" content-class="project-selection-dialog" persistent max-width="400px" transition="dialog-bottom-transition"
    :overlay="false">
    <v-card class="detail container-card" tile fluid>
        <v-toolbar card dark color="primary" tabs>
            <v-btn icon dark @click.native="onLocalPkgDialogClose">
                <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Select project(s)</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon @click.native="onSelectLocalProjectSave">
                <v-icon dark>save</v-icon>
            </v-btn>
        </v-toolbar>
        <v-progress-linear v-if="isLoadingLocalProjects" color="blue" indeterminate></v-progress-linear>
        <v-container class="card-content" fluid>
            <v-layout row wrap>
                <v-subheader class="hint">Select project(s) to install {{packageName}}</v-subheader>
                <v-expansion-panel class="project-container" v-for="item in localProjects" :key="item.name">
                    <v-expansion-panel-content :value="localPrjCheckboxModel[item.name]" hide-actions>
                        <div class="d-flex" slot="header">
                            <v-checkbox :label="item.name" v-model="localPrjCheckboxModel[item.name]" hide-details></v-checkbox>
                        </div>
                        <v-card>
                            <v-checkbox label="Dependencies" v-model="localPrjCheckboxModel[item.name + '_dep']" hide-details></v-checkbox>
                            <v-checkbox label="Dev Dependencies" v-model="localPrjCheckboxModel[item.name + '_devdep']" hide-details></v-checkbox>
                            <v-checkbox label="Optional Dependencies" v-model="localPrjCheckboxModel[item.name + '_optdep']" hide-details></v-checkbox>
                        </v-card>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-layout>
        </v-container>
    </v-card>
</v-dialog>