<v-dialog :value="globalPackageConfig.visible" persistent max-width="700px" transition="dialog-bottom-transition" :overlay="false">
    <v-card class="container-card" tile fluid>
        <v-toolbar card dark color="primary" tabs>
            <v-btn icon dark @click.native="onConfigurationClose">
                <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Settings</v-toolbar-title>
            <v-spacer></v-spacer>

            <v-btn icon @click.native="onConfigurationRefresh">
                <v-icon dark>refresh</v-icon>
            </v-btn>
            <v-btn icon @click.native="onConfigurationSave">
                <v-icon dark>save</v-icon>
            </v-btn>
            <v-tabs v-model="tabModel" centered slot="extension" color="primary" dark slider-color="white">
                <v-tab key="tab-general" ripple href="#tab-general">
                    GENERAL
                </v-tab>
                <v-tab key="tab-npm" ripple href="#tab-npm">
                    NPM
                </v-tab>
            </v-tabs>
        </v-toolbar>
        <v-progress-linear v-if="globalPackageConfig.loading" color="blue" indeterminate></v-progress-linear>
        <v-container class="card-content" fluid>
            <v-tabs-items v-model="tabModel">
                <v-tab-item id="tab-general" key="tab-general">
                    <v-layout row wrap>
                        <v-flex class="d-flex align-center" xs3>
                            <v-subheader>Field(s) to display</v-subheader>
                        </v-flex>
                        <v-flex class="d-flex align-center" xs9>
                            <v-select :items="globalPackageConfig.availableDisplayFields" v-model="selectedDisplayFields" multiple hide-selected></v-select>
                        </v-flex>
                    </v-layout>
                </v-tab-item>
                <v-tab-item id="tab-npm" key="tab-npm">
                    <v-layout row wrap>
                        <template v-for="item in configItems">
                            <v-flex class="d-flex align-center" xs3>
                                <v-subheader>{{item.label}}</v-subheader>
                            </v-flex>
                            <v-flex class="d-flex align-center" xs9>
                                <v-text-field @change="(event) => { onConfigChange(event, item.key) }" v-if="item.type === 'string'" type="text" :value="item.dirtyVal"></v-text-field>
                                <v-text-field @change="(event) => { onConfigChange(event, item.key) }" v-else-if="item.type === 'number'" type="number" :value="item.dirtyVal"></v-text-field>
                                <v-checkbox @change="(event) => { onConfigChange(event, item.key) }" v-else="item.type === 'bool'" :input-value="item.dirtyVal"
                                    hide-details></v-checkbox>
                            </v-flex>
                        </template>
                    </v-layout>
                    <div class="text-xs-center pt-2">
                        <v-pagination :total-visible="10" :value="globalPackageConfig.npmConfigPageIndex" :length="totalPages" @input="onPageChange"></v-pagination>
                    </div>
                </v-tab-item>
            </v-tabs-items>
        </v-container>
    </v-card>
</v-dialog>