<v-app>
    <v-navigation-drawer :width="250" class="app-navigation-drawer" app permanent :mini-variant="isDrawerVisible">
        <v-toolbar dense flat>
            <v-spacer></v-spacer>
            <v-toolbar-side-icon @click="onAppDrawerClick"></v-toolbar-side-icon>
        </v-toolbar>
        <v-divider></v-divider>
        <v-list dense class="pt-0">
            <v-list-group @click.native="goToPage(item.to)" :class="{'no-sub-group': item.subItems.length === 0}" v-for="item in menuItems"
                :key="item.title" :prepend-icon="item.icon">
                <v-list-tile slot="activator">
                    <v-list-tile-content>
                        <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile v-for="subItem in item.subItems" :key="subItem.title" @click="goToPage(subItem.to)">
                    <v-list-tile-action>
                        <v-icon>{{ subItem.icon }}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list-group>
        </v-list>
    </v-navigation-drawer>
    <v-content>
        <v-container fluid d-flex>
            <v-progress-linear v-if="isAppLoading" :indeterminate="true"></v-progress-linear>
            <router-view></router-view>
        </v-container>
    </v-content>
</v-app>